.announceTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .announceIcon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
  }

  .readButtonIcon {
    width: .8rem;
    height: .8rem;
  }

  .announceTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  margin-bottom: .5em;

  p {
    margin: 0;
    padding: 0;
  }

}
